<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitylifetime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.example.activity.lifetime.MainActivity"
            android:theme="@style/noFullScreen_No_Translucent_Theme">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        
         <activity android:name="com.example.activity.lifetime.SecondActivity"
             android:theme="@style/noFullScreen_Translucent_Theme">
        </activity>
        
          <activity android:name="com.example.activity.lifetime.DialogActivity"
              android:theme="@style/like_toast_dialog_style">
        </activity>
    </application>

</manifest>
